In [1]:
#This Cricket.csv data is made by me, Based on the run-rates at different overs try and predict the final score
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [3]:
df=pd.read_csv('cricket.csv')
df.head()

   Type  1   10   25   40  Final
0    50  0  4.9  5.5  6.7    264
1    50  2  5.0  6.0  8.0    320
2    50  1  5.0  7.0  6.8    309
3    50  4  6.0  6.4  7.0    359
4    50  1  5.0  7.0  6.8    309

In [7]:
df_x=pd.DataFrame(df.iloc[:,:-1])
df_x.head()

   Type  1   10   25   40
0    50  0  4.9  5.5  6.7
1    50  2  5.0  6.0  8.0
2    50  1  5.0  7.0  6.8
3    50  4  6.0  6.4  7.0
4    50  1  5.0  7.0  6.8

In [8]:
df_y=pd.DataFrame(df.iloc[:,-1])
df_y.head()

   Final
0    264
1    320
2    309
3    359
4    309

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(df_x, df_y, test_size=0.3)

In [11]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
Y_pred_lin=regression.predict(X_test)


Y_pred_df=pd.DataFrame(Y_pred_lin, columns=["Predicted"])

Y_test.head()

    Final
15    320
55    142
32    264
7     152
81    250

In [13]:
Y_pred_df.head()

    Predicted
0  311.936426
1  149.135052
2  293.837718
3  156.230115
4  314.318455

In [15]:
from sklearn.tree import DecisionTreeRegressor 

tree_regressor=DecisionTreeRegressor()
tree_regressor.fit(X_train, Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [16]:
Y_pred_tree=tree_regressor.predict(X_test)


Y_tree_pred_df=pd.DataFrame(Y_pred_tree, columns=["Predicted"])
Y_tree_pred_df.head()

    Predicted
0  320.000000
1  147.666667
2  264.000000
3  152.000000
4  350.000000

In [23]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
y_pred=classifier.predict(X_test)

Y_pred_df=pd.DataFrame(y_pred, columns=["Predicted"])
Y_pred_df.head()

   Predicted
0        320
1        142
2        264
3        152
4        309

In [25]:
Y_test.head()

    Final
15    320
55    142
32    264
7     152
81    250

In [21]:
accuracy = regression.score(X_test,Y_test)
print(accuracy*100)

91.98644875948865

In [22]:
accuracy = tree_regressor.score(X_test,Y_test)
print(accuracy*100)

93.81562613080938

In [27]:
count=0
for i in Y_pred_df.index:
    if(Y_pred_df.loc[i]["Predicted"]==Y_test_df.loc[i]["Final"]):
        count+=1
len_test=len(Y_test_df)
print("Accuracy=",count/len_test*100)

Accuracy= 56.666666666666664